#IT-staff-augmented-slider .augmentation-staff-slider .augmentation-staff-slider-row {
    width: 4824px;
    height: 335px;
    background-image: url('../assets/staff-augmentation-slider-img.0323f25609f0d1e76e74.0d316e0292cf01bfde5a.webp');
    /*background-size: 2956px 194.5px;*/
    background-size: 4824px 335px;
    animation: slide 50s linear infinite;
    object-fit: contain;
    
  }
 

